.index_contact{
    margin:7.5%;

    P{
        font-family: Bebas Neue;
        font-style: normal;
        font-weight: normal;
        font-size: 97px;
        line-height: 116px;
        text-align: center;
        color: #5C5C5C;
    }
    .first{
        position: absolute;
        top:0;
        right:0;
        margin:5%;
        width: 400px;
    }
    .sec{
        position: absolute;
        top:0.05;
        left:0;
        margin:5%;
        width: 400px;
    }
}