main{
	background-color: rgb(255, 255, 255), 246);
	height: 100vh;
}
.content {
	display: flex;
   
	margin: 0% auto;
	
}

.distort {
	position: absolute;
	pointer-events: none;
	will-change: transform;
}

.distort__img {
	opacity: 0;
}

.content {
	font-family: 'Bebas Neue', cursive;
	color: var(--color-content-text);
	color:#5C5C5C;
}

.menu {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	text-align: center;
	font-size: 10vh;
	font-weight: normal;
}

.demo-2 .menu {
	line-height: 1.5;
}

.quote {
	display: block;

	margin: 0 auto;

	z-index: 999;
    font-weight: normal;

	overflow: hidden;
	padding-top:10%;
}

.quote__author {
	margin: 2rem 0 0 0;
	display: block;
	font-size: 1rem;
	color: var(--color-content-secondary);
}

.quote__author::before {
	/* content: '\2014'; */
	margin-right: 1rem;
}

.menu__link,
.quote__link {
	z-index: 999;
	color: var(--color-content-link);
	position: relative;
	white-space: nowrap;
}

.menu__link:hover,
.quote__link:hover {
	color: var(--color-content-link-hover);
}

.menu__link span,
.quote__link span {
	display: inline-block;
}

.quote__link::after {
	content: '';
	position: absolute;
	height: 5px;
	border-width: 1px 0;
	border-style: solid;
	width: 100%;
	left: 0;
	top: calc(100% - 0.25rem);
	border-color: currentColor;
}


@media screen and (min-width: 53em) {
	body {
		/* overflow: hidden; */
	}
	.message {
		display: none;
	}
	.frame {
		position: fixed;
		text-align: left;
		z-index: 10000;
		top: 0;
		left: 0;
		display: grid;
		align-content: space-between;
		width: 100%;
		max-width: none;
		/* height: 100vh; */
		padding: 2rem;
		pointer-events: none;
		grid-template-columns: 20% 80%;
		grid-template-rows: 2rem auto auto;
		grid-template-areas: 'credits demos'
							 'credits photography'
							 'contact title';
	}
	.frame__title-wrap {
		grid-area: title;
		display: flex;
		justify-content: flex-end;
		align-self: end;
	}
	.frame__title {
		margin: 0 2rem 0 0;
	}
	.frame__photography {
		grid-area: photography;
		align-self: center;
		justify-self: end;
		writing-mode: vertical-lr;
	}
	.frame__credits {
		grid-area: credits;
	}
	.frame__contact {
		grid-area: contact;
	}
	.frame__demos {
		margin: 0;
		grid-area: demos;
		justify-self: end;
	}
	.frame a {
		pointer-events: auto;
	}
	.content {
		/* height: 80vh; */
		justify-content: center;
		
	}
	.quote {
		font-size: 11vh;
	}
	.quote__link:hover{
		color: #FF9DAF;
		transition: 0.5s;
	}
	.quote__link::after {
		top: calc(100% - 3vh);
	}
}