.bts-detail{
    // border:10px solid hotpink;
    width: 80%;
    margin: 0 auto;
    height: 100%;

    .first-sec{
        // border:10px solid rgb(255, 245, 105);
        display: flex;
        justify-content: space-between;
        margin-top:5%;
        
       .bts-left{
        // border:13px solid rgb(105, 170, 255);
        width: 50%;

        position: relative;
        overflow: hidden;
        
       .border{
        border:1px solid #000;
        margin-top: 15%;
        width: 100%;
       }

        img{
            animation: backColor 5s forwards;
            width:100%;
            
            @keyframes backColor{

              

                from{
                    opacity : 0;
                }to{
                    opacity : 1;
                }
            }

        }
        
       }
       .bts-right{
        // border:13px solid rgb(105, 170, 255);
        width: 45%;

        animation: mymove 3s;

                
            @keyframes mymove {
                0% {transform: translate(650px);}
                to {transform: translate(0);}

                from{
                    opacity : 0;
                }to{
                    opacity : 1;
                }
                
            }


            .fixed{
                position: fixed;
                padding-top:5%;
                padding-left:40%;
            }

  


        h2{
            padding-top:10%;
            padding-bottom: 10%;
            font-family: Black Han Sans;
            font-size: 10rem;
           
            font-weight: 400;
            line-height: 121px;
            letter-spacing: 0em;
            text-align: left;

            
            
            

        }//h2

        a{
            margin-top:10%;
            font-family: NanumGothic;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
        }
        
        p{
            padding-top:5%;
            width: 100%;

        }//p

        .right-bottom{
            padding-top:5%;
            padding-bottom: 5%;
            // border: 1px solid #000;
            display: flex;
            justify-content: space-between;
            
            div{
                h3{
                    font-family: NanumGothic;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 48px;
                    letter-spacing: 0em;
                    text-align: justified;
                }



                P{
                    font-family: NanumGothic;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 18px;
                    letter-spacing: 0em;
                    text-align: justified;

                }//p
                
            }//div
        }//right-bottom

       }//bts-right
    }//first-sec

    .sec-sec{
 
        padding-bottom: 5%;

         div{
             margin:5%;
             border: 1px solid #000;
             width: 80%;
             margin: 0 auto;
             padding:1% 2%;

             ul{
                 padding-top:2.5%;
                 padding-bottom:2.5%;
                 li{
                    display:flex;
                    justify-content: space-between;
                    align-items: center;

                    h3{ width: 11%;
                        font-family: NanumGothic;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 800;
                        line-height: 48px;
                        letter-spacing: 0em;
                        text-align: right;
                        margin-right:2.5%;


                    }//h3

                    p{
                        width: 80%;
                        font-family: NanumGothic;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 18px;
                        letter-spacing: 0em;
                        text-align: left;
                  
                        
                    }//p

                
                }//li
   
            }//ul
        }//div
    }//sec-sec

    .sec-style{
       
        border-top:1px solid #000;
        margin: 5% 0;
        width: 100%;
        margin: 0 auto;
        width: 100%;
    
       

        h2{
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 47px;
            text-align: center;
            padding:5%;
            
        }
        .colors{
            padding-bottom: 5%;
            border-bottom:1px solid #000;
            
           ul{
               width: 80%;
               margin: 0 auto;
               display: flex;
               justify-content: space-between;
         

               li{
                   
                  P{
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 30px;
                    line-height: 35px;
                    display: flex;
                    align-items: flex-end;
                    text-align: center;
                    }//p
               }//li
           }//ul
            
        }//color


        .text{
            
            
            margin: 0 auto;
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 5%;


            p{
                
             
                font-family: Bebas Neue;
                font-style: normal;
                font-weight: normal;
                font-size: 32px;
                line-height: 47px;
                display: flex;
                align-items: flex-end;
                margin-bottom: 5%;
    
                &:nth-of-type(1){
                    border: 1px solid #000;
                    width: 352px;
                    height: 352px;
                    background-color: #000;
                    border-radius: 50%;
                    color:#fff;
                    font-size: 200px;
                    align-items: center;
                    padding-left:9%;
                }    
            }//p
        }//text
        



        
        .text1{
            
            margin: 0 auto;
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 10%;

          

            p{
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 32px;
                line-height: 47px;
                display: flex;
                align-items: flex-end;
                
    
                &:nth-of-type(1){
                    border: 1px solid #000;
                    width: 352px;
                    height: 352px;
                    background-color: #000;
                    border-radius: 50%;
                    color:#fff;
                    font-size: 200px;
                    align-items: center;
                    padding-left:6%;
                }    
            }//p
        }

    }//sec.style





}//.bts-detail

.line{
    border-top:1px solid #000;
    width: 100%;
    padding-top:5%;
    padding-bottom:5%;
}

